
@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .div {
            justify-content: center;
            background-color: #aee8e5;
            display: flex;
            flex-direction: column;
        }

        .div-2 {
            background-color: var(--Color, #fff);
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
        }

        .div-3 {
            background-color: #aee8e5;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 50px 80px 50px 38px;
        }

        .div-4 {
            color: #000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 107px;
            white-space: nowrap;
            font: 700 48px Kadwa, sans-serif;
        }

        .div-5 {
            width: 100%;
            max-width: 1268px;
            margin: 41px 0 62px;
        }

        .div-6 {
            gap: 20px;
            display: flex;
        }

        .column {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 61%;
            margin-left: 0px;
        }

        .img {
            aspect-ratio: 1.67;
            object-fit: cover;
            object-position: center;
            width: 100%;
            margin-top: 23px;
        }

        .column-2 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 39%;
            margin-left: 20px;
        }

        .div-7 {
            color: #000;
            font: 700 26px Kadwa, sans-serif;
        }
    </style>
</head>
<body>
    <div class="div">
        <div class="div-2">
            <div class="div-3">
                <div class="div-4">ABOUT CLUB</div>
                <div class="div-5">
                    <div class="div-6">
                        <div class="column">
                            <img loading="lazy"
                                 srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/7001da3b845af46848f5cf2f56698967dd536e392c167ba8d2985bcbe15722af?apiKey=d2581b71f9e743e5a873bc096891baa6&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/7001da3b845af46848f5cf2f56698967dd536e392c167ba8d2985bcbe15722af?apiKey=d2581b71f9e743e5a873bc096891baa6&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7001da3b845af46848f5cf2f56698967dd536e392c167ba8d2985bcbe15722af?apiKey=d2581b71f9e743e5a873bc096891baa6&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/7001da3b845af46848f5cf2f56698967dd536e392c167ba8d2985bcbe15722af?apiKey=d2581b71f9e743e5a873bc096891baa6&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/7001da3b845af46848f5cf2f56698967dd536e392c167ba8d2985bcbe15722af?apiKey=d2581b71f9e743e5a873bc096891baa6&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7001da3b845af46848f5cf2f56698967dd536e392c167ba8d2985bcbe15722af?apiKey=d2581b71f9e743e5a873bc096891baa6&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/7001da3b845af46848f5cf2f56698967dd536e392c167ba8d2985bcbe15722af?apiKey=d2581b71f9e743e5a873bc096891baa6&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/7001da3b845af46848f5cf2f56698967dd536e392c167ba8d2985bcbe15722af?apiKey=d2581b71f9e743e5a873bc096891baa6&"
                                 class="img" />
                        </div>
                        <div class="column-2">
                            <div class="div-7">
                                Established in 2024, D Sports Club has been a cornerstone of the
                                local sports scene, contributing to the growth and development of
                                athletes across various disciplines. Our club is founded on the
                                principles of sportsmanship, dedication, and inclusivity. We take
                                pride in creating an environment where individuals of all ages and
                                skill levels can thrive.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

