
@{
    ViewData["Title"] = "Activity";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <style>
            .button-1 {
                font-family: Inter, sans-serif;
                border-radius: 50px;
                background-color: #76c9e7;
                margin-top: 108px;
                justify-content: center;
                white-space: nowrap;
                padding: 17px 21px;
                cursor: pointer;
                border: none;
                color: #000;
                text-decoration: none;
                display: inline-block;
                text-align: center;
                transition: background-color 0.20s ease; /* Add transition for smooth hover effect */
            }

                .button-1:hover {
                    background-color: #096384; /* Change background color on hover */
                    transition: background-color 0.20s ease;
                    color: white;
                }

            .div {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                background-color: var(--Color, #fff);
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .div-2 {
                background-color: var(--Color, #fff);
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                padding: 1px 0;
            }

            .div-3 {
                background-color: #aee8e5;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                padding: 50px 60px;
            }

            .div-4 {
                display: flex;
                width: 100%;
                max-width: 1165px;
                flex-direction: column;
                margin: 141px 0 50px;
            }

            .div-5 {
                align-self: center;
                display: flex;
                width: 780px;
                max-width: 100%;
                align-items: start;
                justify-content: space-between;
                gap: 20px;
                font-size: 24px;
                color: #000;
                font-weight: 400;
                text-align: center;
            }

            .div-6 {
                align-self: stretch;
                display: flex;
                flex-basis: 0%;
                flex-direction: column;
                white-space: nowrap;
            }

            .div-7 {
                -webkit-text-stroke-width: 1;
                -webkit-text-stroke-color: #000;
                font-family: Lao Sans Pro, sans-serif;
            }

            .img {
                aspect-ratio: 50;
                object-fit: auto;
                object-position: center;
                width: 44px;
                stroke-width: 1px;
                stroke: #000;
                align-self: center;
                margin-top: 13px;
            }

            .div-8 {
                font-family: Lao Sans Pro, sans-serif;
            }

            .div-9 {
                font-family: Lao Sans Pro, sans-serif;
                flex-grow: 1;
                flex-basis: auto;
            }

            .div-10 {
                font-family: Lao Sans Pro, sans-serif;
                flex-grow: 1;
                flex-basis: auto;
            }

            .div-11 {
                font-family: Lao Sans Pro, sans-serif;
                flex-grow: 1;
                white-space: nowrap;
            }

            .div-12 {
                margin-top: 34px;
            }

            .div-13 {
                gap: 20px;
                display: flex;
            }

            .column {
                display: flex;
                flex-direction: column;
                line-height: normal;
                width: 54%;
                margin-left: 0px;
            }

            .div-14 {
                border: 1px solid #0047ff;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                background-color: var(--Color, #fff);
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                align-items: center;
                font-size: 20px;
                color: #000;
                font-weight: 400;
                text-align: center;
                width: 100%;
                padding: 2px 0 33px;
            }

            .img-2 {
                aspect-ratio: 1.43;
                object-fit: auto;
                object-position: center;
                width: 100%;
                align-self: stretch;
            }

            .div-15 {
                -webkit-text-stroke-width: 1;
                -webkit-text-stroke-color: #000;
                margin-top: 31px;
                font: 30px Lao Sans Pro, sans-serif;
            }

            .div-16 {
                font-family: Inter, sans-serif;
                margin-top: 10px;
                padding: 20px 20px;
            }

            .column-2 {
                display: flex;
                flex-direction: column;
                line-height: normal;
                width: 46%;
                margin-left: 20px;
            }

            .img-3 {
                aspect-ratio: 1.45;
                object-fit: auto;
                object-position: center;
                width: 100%;
                align-self: stretch;
            }

            .div-22 {
                margin-top: 99px;
            }

            .div-23 {
                gap: 20px;
                display: flex;
            }

            .column-3 {
                display: flex;
                flex-direction: column;
                line-height: normal;
                width: 55%;
                margin-left: 0px;
            }

            .img-4 {
                aspect-ratio: 1.15;
                object-fit: auto;
                object-position: center;
                width: 385px;
                max-width: 100%;
            }

            .div-24 {
                border: 1px solid #0047ff;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                background-color: var(--Color, #fff);
                display: flex;
                margin-top: 4px;
                flex-grow: 1;
                flex-direction: column;
                align-items: center;
                color: #000;
                font-weight: 400;
                text-align: center;
                width: 100%;
                padding: 22px 27px;
            }

            .img-4 {
                aspect-ratio: 1.15;
                object-fit: auto;
                object-position: center;
                width: 385px;
                max-width: 100%;
            }

            .div-25 {
                -webkit-text-stroke-width: 1;
                -webkit-text-stroke-color: #000;
                margin-top: 17px;
                font: 30px Lao Sans Pro, sans-serif;
            }

            .div-26 {
                padding: 20px 20px;
                margin-top: 10px;
                font: 22px Lao Sans Pro, sans-serif;
            }

            .column-4 {
                display: flex;
                flex-direction: column;
                line-height: normal;
                width: 45%;
                margin-left: 20px;
            }

            .img-5 {
                aspect-ratio: 1.33;
                object-fit: auto;
                object-position: center;
                width: 447px;
                max-width: 100%;
            }

        .div-100 {
            color: #000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            align-self: center;
            font: 700 48px Kadwa, sans-serif;
        }
        </style>

    </head>
    <body>

        <div class="div">
            <div class="div-2">
                <div class="div-3">
                    <div class="div-4">
                    <div class="div-100">Activities</div>
                        <div class="div-12">
                            <div class="div-13">
                                <div class="column">
                                    <div class="div-14">
                                        <img loading="lazy"
                                             srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/0890f8045078afcc90759f3e8d406b4d4e96f9dbea3d8784e1cddba1d29bec40?apiKey=43cd680c2723441b9df3e44c7fb68697&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/0890f8045078afcc90759f3e8d406b4d4e96f9dbea3d8784e1cddba1d29bec40?apiKey=43cd680c2723441b9df3e44c7fb68697&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/0890f8045078afcc90759f3e8d406b4d4e96f9dbea3d8784e1cddba1d29bec40?apiKey=43cd680c2723441b9df3e44c7fb68697&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/0890f8045078afcc90759f3e8d406b4d4e96f9dbea3d8784e1cddba1d29bec40?apiKey=43cd680c2723441b9df3e44c7fb68697&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/0890f8045078afcc90759f3e8d406b4d4e96f9dbea3d8784e1cddba1d29bec40?apiKey=43cd680c2723441b9df3e44c7fb68697&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/0890f8045078afcc90759f3e8d406b4d4e96f9dbea3d8784e1cddba1d29bec40?apiKey=43cd680c2723441b9df3e44c7fb68697&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/0890f8045078afcc90759f3e8d406b4d4e96f9dbea3d8784e1cddba1d29bec40?apiKey=43cd680c2723441b9df3e44c7fb68697&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/0890f8045078afcc90759f3e8d406b4d4e96f9dbea3d8784e1cddba1d29bec40?apiKey=43cd680c2723441b9df3e44c7fb68697&"
                                             class="img-2" />
                                        <div class="div-15">CRICKET</div>
                                        <div class="div-16">
                                            Cricket, a strategic sport played between two teams, combines
                                            elegance and skill on a green field with iconic stumps and
                                            bails. From boundary-scoring brilliance to dramatic
                                            dismissals, it captivates global audiences with its timeless
                                            appeal. Legends like Sachin Tendulkar and thrilling
                                            tournaments like the World Cup further elevate cricket as a
                                            beloved and unifying global passion
                                        </div>
                                        <a class="button-1" asp-controller="HomeController1" asp-action="Cricket">View Details</a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="div-14">
                                        <img loading="lazy"
                                             srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/4feb31a1ad1c8c6307f7816c919a5f88daf2c1fdcef35f2b264e393ad08f670b?apiKey=43cd680c2723441b9df3e44c7fb68697&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/4feb31a1ad1c8c6307f7816c919a5f88daf2c1fdcef35f2b264e393ad08f670b?apiKey=43cd680c2723441b9df3e44c7fb68697&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/4feb31a1ad1c8c6307f7816c919a5f88daf2c1fdcef35f2b264e393ad08f670b?apiKey=43cd680c2723441b9df3e44c7fb68697&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/4feb31a1ad1c8c6307f7816c919a5f88daf2c1fdcef35f2b264e393ad08f670b?apiKey=43cd680c2723441b9df3e44c7fb68697&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/4feb31a1ad1c8c6307f7816c919a5f88daf2c1fdcef35f2b264e393ad08f670b?apiKey=43cd680c2723441b9df3e44c7fb68697&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/4feb31a1ad1c8c6307f7816c919a5f88daf2c1fdcef35f2b264e393ad08f670b?apiKey=43cd680c2723441b9df3e44c7fb68697&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/4feb31a1ad1c8c6307f7816c919a5f88daf2c1fdcef35f2b264e393ad08f670b?apiKey=43cd680c2723441b9df3e44c7fb68697&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/4feb31a1ad1c8c6307f7816c919a5f88daf2c1fdcef35f2b264e393ad08f670b?apiKey=43cd680c2723441b9df3e44c7fb68697&"
                                             class="img-3" />
                                        <div class="div-15">FOOTBALL</div>
                                        <div class="div-16">
                                            Football, a dynamic sport contested by two teams, unfolds on a
                                            vast pitch with a goal at each end. From skillful goals to
                                            strategic tackles, football blends athleticism and strategy,
                                            captivating fans worldwide. Iconic players like Lionel Messi
                                            and major tournaments like the FIFA World Cup contribute to
                                            football's universal popularity as a thrilling and unifying
                                            global phenomenon.
                                        </div>
                                        <a class="button-1" asp-controller="HomeController1" asp-action="Football">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-22">
                            <div class="div-23">
                                <div class="column">
                                    <div class="div-14">
                                        <img loading="lazy"
                                             srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/580ef72f9e951d10ec0b55f6443eefab53c3b47976a4dcf8f6b4624cf805b8ed?apiKey=43cd680c2723441b9df3e44c7fb68697&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/580ef72f9e951d10ec0b55f6443eefab53c3b47976a4dcf8f6b4624cf805b8ed?apiKey=43cd680c2723441b9df3e44c7fb68697&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/580ef72f9e951d10ec0b55f6443eefab53c3b47976a4dcf8f6b4624cf805b8ed?apiKey=43cd680c2723441b9df3e44c7fb68697&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/580ef72f9e951d10ec0b55f6443eefab53c3b47976a4dcf8f6b4624cf805b8ed?apiKey=43cd680c2723441b9df3e44c7fb68697&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/580ef72f9e951d10ec0b55f6443eefab53c3b47976a4dcf8f6b4624cf805b8ed?apiKey=43cd680c2723441b9df3e44c7fb68697&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/580ef72f9e951d10ec0b55f6443eefab53c3b47976a4dcf8f6b4624cf805b8ed?apiKey=43cd680c2723441b9df3e44c7fb68697&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/580ef72f9e951d10ec0b55f6443eefab53c3b47976a4dcf8f6b4624cf805b8ed?apiKey=43cd680c2723441b9df3e44c7fb68697&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/580ef72f9e951d10ec0b55f6443eefab53c3b47976a4dcf8f6b4624cf805b8ed?apiKey=43cd680c2723441b9df3e44c7fb68697&"
                                             class="img-4" />
                                        <div class="div-15">TABLE TENNIS</div>
                                        <div class="div-16">
                                            Table Tennis, a fast-paced indoor sport played between two
                                            players or teams, involves a small ball and a table divided by
                                            a net. The game showcases quick reflexes, precision, and
                                            strategic play, creating intense rallies and moments of
                                            finesse. With global competitions like the Olympics and
                                            notable players such as Ma Long, Table Tennis stands as a
                                            widely enjoyed and skillful sport, celebrated for its
                                            fast-paced and dynamic nature.
                                    </div> 
                                    <a class="button-1" asp-controller="HomeController1" asp-action="Tabletennis">View Details</a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="div-14">
                                        <img loading="lazy"
                                             srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/e781d34d9bbda9d25bd6a1dd3dd3133482f2adf0581729491fdafaf9ea1538bd?apiKey=43cd680c2723441b9df3e44c7fb68697&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/e781d34d9bbda9d25bd6a1dd3dd3133482f2adf0581729491fdafaf9ea1538bd?apiKey=43cd680c2723441b9df3e44c7fb68697&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e781d34d9bbda9d25bd6a1dd3dd3133482f2adf0581729491fdafaf9ea1538bd?apiKey=43cd680c2723441b9df3e44c7fb68697&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/e781d34d9bbda9d25bd6a1dd3dd3133482f2adf0581729491fdafaf9ea1538bd?apiKey=43cd680c2723441b9df3e44c7fb68697&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/e781d34d9bbda9d25bd6a1dd3dd3133482f2adf0581729491fdafaf9ea1538bd?apiKey=43cd680c2723441b9df3e44c7fb68697&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e781d34d9bbda9d25bd6a1dd3dd3133482f2adf0581729491fdafaf9ea1538bd?apiKey=43cd680c2723441b9df3e44c7fb68697&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/e781d34d9bbda9d25bd6a1dd3dd3133482f2adf0581729491fdafaf9ea1538bd?apiKey=43cd680c2723441b9df3e44c7fb68697&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/e781d34d9bbda9d25bd6a1dd3dd3133482f2adf0581729491fdafaf9ea1538bd?apiKey=43cd680c2723441b9df3e44c7fb68697&"
                                             class="img-5" />
                                        <div class="div-15">VOLLEY BALL</div>
                                        <div class="div-16">
                                            Volleyball, a dynamic team sport, unfolds on a rectangular
                                            court divided by a net, with each team striving to score
                                            points by sending the ball over the net and into the
                                            opponent's court. From powerful spikes to strategic blocks,
                                            volleyball combines athleticism and teamwork, creating an
                                            engaging spectacle. With international tournaments like the
                                            FIVB World Championship and prominent players contributing,
                                            volleyball stands as a thrilling and globally appreciated
                                            sport
                                        </div>
                                        <a class="button-1" asp-controller="HomeController1" asp-action="Vollyball">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
